<%= stylesheet_link_tag "blog", media: "all" %>
<body>
<div id="two-cols">
    <div id="article-section">
        <div id="article-title-solo">
            <h1><%= @article.title %></h1>
        </div>
        <p><%= @article.author %></p>
        <% if @article.image.attached? %>
            <%= image_tag @article.image, alt: @article.title, class: "article-image" %>
        <% end %>
        <p><%= @article.body %></p>
        <div id="options">
            <ul>
                <li><%= link_to "Edit", edit_article_path(@article)%></li>
                <li><%= link_to "Destroy", article_path(@article), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                            } %></li>
                <li><%= link_to "Back", articles_path %></li>
            </ul>
        </div>
    </div>
    <div id="comments-column">
        <h2>Comments</h2>
        <%= render @article.comments %>
    </div>
</div>

<div id="add-comment-section">
    <h2>Add a comment:</h2>
    <%= render "comments/form", article: @article %>
</div>
</body>
